<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container flex flex-col bg-blue-100 h-screen">
    <div id="top-bar" class="flex px-8 text-white items-center justify-center bg-blue-300 min-h-20">
        PhoneTech - TM
    </div>

    <div id="app-content" class="px-4">
        <router-outlet></router-outlet>
    </div>

    <div id="footer" class="flex px-4 w-full fixed min-h-40 pt-8 bottom-0 bg-blue-900 text-white text-xs justify-center">
        <p>Copyrght PhoneTech - TM</p>
    </div>
</div>
